version: '3.8'

services:
  frontend:
    build: .
    container_name: react-frontend
    ports:
      - "3000:80"
    restart: unless-stopped
    
    # volumes:
    #   - ./src:/app/src
    #   - ./public:/app/public
    # command: npm run dev